@import "ui-variables";
// @import "octicon-mixins";

.versions {
    width: 500px;
    height: 100%;
    overflow: auto;

    ul.background-message.vertical-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

    background-tips {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: @background-color-highlight;
    }

    .text-success {
        color: @text-color-success;
    }

    button {
        font-size: 11px;
        color: #484848;
        background-color: #fbfbfb;
        border: 0;
        border-radius: 1px;
        margin-left: 7px;
    }

    button.show-all {
        float: 'right';
    }

    button.show-all {
        float: right;
    }

    button.show-all.collapse {
        color: #FFF;
        background-color: @background-color-info;
    }

    p.header-text {
        font-size: 13px;
        margin-bottom: 0;
    }

    .header-text-filepath {
        overflow: hidden;
        width: 390px;
    }

    .versions-list {
        overflow: scroll;
    }

    table {

        width: 100%;

        td pre {
            background-color: @background-color-highlight;
            white-space: pre-wrap;
            word-break: break-word;
        }

        tr.diffContainer:not(.active) {
            display: none;
        }

        tr:not(:last-child) td {
            border-bottom: 1px solid @base-border-color;
        }

        .version-row:hover {
            background-color: @background-color-highlight;
        }

        .version-row.selected {
            background-color: @background-color-highlight;
            border-left: 3px solid #bf7dbf;
        }

        .version-row {
            cursor: pointer;
            color: @text-color;

            .created::before {
                margin-right: 12px;
                font-size: 12px;
            }



            .version-button {
                transition: background-color .3s;
            }

            .version-button.view {
            }
            .version-button.comment {
            }

            .version-button.revert {
            }
            .version-button.revert.confirm {
                background-color: #d6533c;
                color: #FFF;
            }

            .version-text-created {
                display: block;
                font-size: 1.1em;
            }

            .version-text-size {
                display: block;
                font-size: .9em;
            }

            td:last-child {
                text-align: right;
            }

            button.downloadVersion {
                background-color: @text-color-success;
                color: #FFF;
            }

        }

        .line, .selector, .created {
            min-width: 10em;
        }

    }

    .comment-box {
        height: 380px;
        position: fixed;
        bottom: 0;
        background-color: @background-color-highlight;
        width: 500px;
        overflow: scroll;
    }

    .comment-box textarea {
        margin: 2px;
        padding: 5px;
        width: 496px;
        height: 150px;
        resize: none;
        border-radius: 3px;
        border: 1px solid @base-border-color;
    }

    .comment-box button {
        float: right;
        margin: 2px 5px;
        padding: 5px 10px;
        font-size: 1.1em;
    }

    .comment-box button.save {
        background-color: @background-color-info;
        color: #FFF;
    }

    .git-console {
        height: 380px;
        position: fixed;
        bottom: 0;
        background-color: @background-color-highlight;
        width: 500px;
        overflow: scroll;
    }

    .git-console>table {

        border-collapse: separate;
        border-spacing: 2px;

        tr.diff-row.remove td:first-child {
            border-left: 2px solid @text-color-error;
        }

        tr.diff-row.add td:first-child {
            border-left: 2px solid @text-color-success;
            margin: 12px 0;
        }

        td.diff-line-number {
            cursor: pointer;
            width: 3px;
            padding: 0 5px;
            -webkit-user-select: none;
        }

        td.diff-line-text {
            word-break: break-word;
        }

        tr.diff-group-break {
            height: 10px;
        }

        tr {
            line-height: 20px;
            transition: height: 1s;
        }

        tr td {
            border-bottom: none;
        }

    }
}
